.timeline-slider::-webkit-slider-runnable-track {
	background: rgba(127, 127, 127, 0.3);
	border-radius: 2px;
	width: 100%;
}


.timeline-slider::-webkit-slider-track {
	background: rgba(127, 127, 127, 0.3);
	border-radius: 2px;
	width: 100%;
}

.timeline-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 12px;
	border-radius: 50%;
	background: rgba(99, 102, 241, 0.8);
	border: 1px solid rgba(99, 102, 241, 0.5);
	box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
	cursor: grab;
}

.timeline-slider::-moz-range-track {
	height: 4px;
	background: rgba(127, 127, 127, 0.3);
	border-radius: 2px;
	border: none;
}

.timeline-slider::-moz-range-thumb {
	height: 16px;
	width: 12px;
	border-radius: 50%;
	background: rgba(99, 102, 241, 0.8);
	border: 1px solid rgba(99, 102, 241, 0.5);
	box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
	cursor: grab;
}